/* MEMBERFORM */
.page-aanmelden * {
    box-sizing: border-box;
}
/* remove important after disabling css in main theme */
.page-aanmelden .page-wrapper:after {
    background: #f1f1f1;
}
.page-aanmelden form fieldset {
    border: none!important;
}
.page-aanmelden .ajax-progress {
    display:none; /*removes even geduld */
}
.page-aanmelden .page {
    background: #f1f1f1;
}
.page-aanmelden .primary-content {
    padding: 3rem 0;
}
.page-aanmelden header h1 {
    background: #fff;
    text-align: left!important;
    color: #222!important;
    padding: 1rem!important;
}
.page-aanmelden form {
    background: #fff!important;
    padding: 0 1rem 3rem 1rem!important;
}
.page-aanmelden form .form_header img {
    max-width: calc(100% + 2rem);
    margin: 0 -1rem 1rem -1rem;
}
.page-aanmelden form h3 {
    margin: 1rem auto .5rem auto;
    font-size: 1.5rem;
}
.page-aanmelden form h3,
.page-aanmelden form .memberform,
.page-aanmelden form table,
.page-aanmelden form p {
    max-width: 480px; /* 50% of maxwidth 960px */
    margin: 0 auto;
}
.page-aanmelden form table {
    text-align: left;
}
.page-aanmelden form label {
    display: block!important;
    font-size: 1.125rem;
    font-weight: normal;
    font-family: "HelveticaNeueLTStd-BdCn", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    letter-spacing: .3px;
}
.page-aanmelden form label.option {
    display: inline-block!important;
}
.page-aanmelden .form-select {
    padding: .5rem;
    font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    font-size: 1rem;
    background: #fafafa;
    border: 1px solid #ddd;
    width: 100%;
    text-overflow: ellipsis;
}
.page-aanmelden .form-type-date-select .form-type-select {
    margin-right: .5rem;
}
.page-aanmelden .form-item {
    padding: 1rem 0 0 0;
}
.page-aanmelden .form-item .form-text {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    box-sizing: border-box;
}
.page-aanmelden .form-item .form-select:focus,
.page-aanmelden .form-item .form-textarea:focus,
.page-aanmelden .form-item .form-text:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #c8c8c8;
    border: 1px solid #888;
}

.page-aanmelden .messages {
    border: 1px solid;
    padding: .5rem 1rem;
}
.page-aanmelden .error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.page-aanmelden .info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.page-aanmelden .success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.page-aanmelden .warning {
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}


/* EURO SIGN PREFIX CONTRIBUTIONS */
.page-aanmelden .form-item-page-contribution-custom {
    position: relative; /* set parent relative */
}
span.field-prefix {
    position: absolute; /* absolute on parent */
    z-index: 999;
    padding: 16px 0 16px 16px;
}
.page-aanmelden .form-item-page-contribution-custom input {
    padding-left: 32px!important; /* extra padding for prefix */
}
#memberform_form_wrapper div.form-type-radio {
  display: inline-block;
}
#memberform_form_wrapper input[type="radio"] {
  display: none;
}

#memberform_form_wrapper label.option {
  padding: 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  overflow-wrap: break-word;
}

#memberform_form_wrapper label.option img {
  float: left;
  margin-right: 1rem;
}

#memberform_form_wrapper label.option span {
  vertical-align: top;
}

#memberform_form_wrapper input[type="radio"]:checked+label {
    background: #f60000;
    color: #fff;
}

/* MEMBERFORM NAVIGATION */
.memberform-navigation {
    text-align: center;
}
.memberform-navigation .form-submit {
    font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    background: none;
    margin-right: 0;
    padding: 4px;
    color: #222;
    border: none; /* removes default from forms.css */
    border-bottom: 3px solid #ddd;
}
@media screen and (min-width: 870px){
    .memberform-navigation .form-submit {
         padding: 0.5rem 1rem;
    }
}
.memberform-navigation .form-submit:hover {
    border: none; /* removes default from forms.scss */
    border-bottom: 3px solid #f60000;
    background: #f60000;
    color: #fff!important;
}
.memberform-navigation .form-submit.active {
    border-bottom: 3px solid #f60000;
}
.memberform-navigation .form-button-disabled {
    color: #ddd;
}
.memberform-navigation .form-button-disabled:hover {
    border: none;
    border-bottom: 3px solid #ddd;
    background: #fff;
    color: #ddd!important;
}
/* MEMBERFORM INPUT */
#memberform_form_wrapper input::placeholder {
    color: #ccc; /* should be styled in form default */
}
#memberform_form_wrapper .form-item-page-red-membership input[type="radio"] {
    display: inline-block!important;
}
#memberform_form_wrapper .form-item-page-red-membership label.option {
    border: none;
    padding: 4px;
}
@media screen and (max-width: 360px){
    #memberform_form_wrapper .form-item-page-red-membership label.option {
        max-width: 280px;
    }
}
#memberform_form_wrapper div.form-type-radio.form-item-page-gift-select-lid-sp {
    display: block;
}
#memberform_form_wrapper .form-item-page-gift-select-lid-sp label.option {
    width: 100%;
    box-sizing: border-box;
}
#memberform_form_wrapper table th {
    border-bottom: 2px solid #ddd;
    padding-top: 1rem;
}
/* MEMBERFORM ACTION */
.memberform-action {
    max-width: 480px;
    margin: 0 auto;
    text-align: right;
    padding: 0!important; /* overwrite default spnet theme */
}
.memberform-action input[type="submit"]{
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-right: 0;
    min-width: 150px;
}
/* MEMBERFORM CALL BACK OR CONTINUE */
#edit-action,
#edit-action--2 {
    text-align: center;
    max-width: 100%;
}
.memberform-action #edit-call-back,
.memberform-action #edit-call-back--2,
.memberform-action #edit-next-page
.memberform-action #edit-next-page--2, {
    max-width: 329px;
    width: 100%;
}
